.pageWrapper {
  padding: 40px 100px 60px 100px;
}

.pageHeader {
  font-family: "Syne";
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  margin-bottom: 50px;
}

.bodyWrapper {
  display: flex;
  justify-content: space-between;
  gap: 140px;
}

.img3 {
  width: 500px;
  height: 500px;
}

.mainText {
  font-family: "Syne";
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #000000;

  margin-bottom: 16px;
}

.text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
  padding: 0 8px;
}

.text2 {
  font-family: "Syne";
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.blockWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.mailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.inputMail {
  width: 400px;
  border: none;
  border-bottom: 2px solid #424249;
  padding: 8px;
  background: none;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.btnLower {
  margin-top: 32px;
}
