.primary {
  /* width: 150px;
    height: 50px; */
  padding: 0.7rem 2rem;
  background: #ff893b;
  border-radius: 200px;
  border: none;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  color: #ffffff;
}

.primary2 {
  /* width: 240px;
    height: 50px; */
  padding: 0.5rem 1.5rem;
  background: #ff893b;
  border-radius: 35px;
  border: none;

  font-family: 'Syne';
  font-weight: 500;
  font-size: 1.5rem;
  color: #ffffff;

  display: flex;
  align-items: center;
  gap: 8px;
}

.secondary {
  box-sizing: border-box;
  /* width: 150px;
    height: 50px; */
  padding: 0.7rem 2rem;
  background: #ffffff;
  border: 1px solid #202020;
  border-radius: 200px;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  color: #000000;
}

.delete {
  box-sizing: border-box;
  /* width: 150px;
    height: 50px; */
  padding: 11px 32px;
  background: #ffffff;
  border: 1px solid #ff1500;
  border-radius: 200px;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
